.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #d1e3f2;
    color: #293955;
}

.btn-info {
    background-color: #55acee;
}

.btn-sm, .btn-group-sm > .btn {
    font-family: 'Roboto Regular', sans-serif !important;
    font-weight: 400 !important;
    padding: 7px 10px !important;
    font-size: 12px !important;
    line-height: 1 !important;
    border-radius: 6px !important;
    background-color:;
}

.btn-shopping-car {
    background-color: white;
    color: #55acee;
    padding: 3px 5px;
    font-size: 10px;
    line-height: 1.42857143;
    min-width: 80px;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: 'Comic Sans MS';
    font-size: 13px;
}

.label-default {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.51);
    border-radius: 10px;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #fff !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.panel-default {
    border-color: #97acbf;
    -webkit-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.8);
    box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.8);
}

.panel-heading {
    border-color: #55acee !important;
    background-color: #55acee !important;
    color: white !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    font-size: 12px;
    font-weight: 300;
}

.panel-footer {
    border-color: #55acee !important;
    background-color: #55acee !important;
    color: white !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}

hr{
    margin-top:5px !important;
    margin-bottom: 10px !important;
}

#txt_precio::-webkit-input-placeholder {
    color: #55acee;
}

#txt_precio:-moz-placeholder { /* Firefox 18- */
    color: #55acee;
}

#txt_precio::-moz-placeholder { /* Firefox 19+ */
    color: #55acee;
}

#txt_precio:-ms-input-placeholder {
    color: #55acee;
}

#txt_tasa::-webkit-input-placeholder {
    color: #55acee;
}

#txt_tasa:-moz-placeholder { /* Firefox 18- */
    color: #55acee;
}

#txt_tasa::-moz-placeholder { /* Firefox 19+ */
    color: #55acee;
}

#txt_tasa:-ms-input-placeholder {
    color: #55acee;
}

#txt_precio_con_iva::-webkit-input-placeholder {
    color: #55acee;
}

#txt_precio_con_iva:-moz-placeholder { /* Firefox 18- */
    color: #55acee;
}

#txt_precio_con_iva::-moz-placeholder { /* Firefox 19+ */
    color: #55acee;
}

#txt_precio_con_iva:-ms-input-placeholder {
    color: #55acee;
}

.select2-container {
    width: 100% !important;
}

.main-content {
    background-color: #fff !important;
}

.page-header {
    border-bottom: .5px solid #c3c3c6;
}

.bootstrap-table .table,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 3px !important;
}

.fixed-table-container thead th .th-inner {
    line-height: 24px;
    overflow: hidden;
    padding: 3px;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}

.tbl_totales {
    width: 100%;
    text-align: left !important;
}

    .tbl_totales input[type=text] {
        cursor: not-allowed;
        opacity: 1;
        font-weight: 600;
        border-color: #95B8E7;
        background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
        background-repeat: repeat-x;
    }

.panel-heading a.collapsed {
    background-color: transparent !important;
}

.panel .panel-heading {
    font-size: 11px;
}

    .panel .panel-heading > .panel-options a[data-toggle="remove"] {
        font-size: 11px;
    }

    .panel .panel-heading > .panel-options {
        font-size: 11px;
    }

#span_buscar {
    background-color: #55ACEE; /*#3071A9;*/
    border: 1px solid #55ACEE;
    color: #FFF;
}

