.etq {
    padding-top: 3px !important;
    font-weight: 800 !important;
    background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
    background-repeat: repeat-x;
    border-top: solid 0.1px #95B8E7;
    border-left: solid 0.1px #95B8E7;
    border-right: solid 0.1px #95B8E7;
    min-height: 27px !important;
}

.etq-bottom {
    border-bottom: solid 0.1px #95B8E7;
}

.ctrl {
    background-color: rgba(243, 243, 246, 0.3);
    min-height: 27px !important;

    border-top-color: #ccc;
    border-top-width: 0.1px;
    border-top-style: dotted;
}

.ctrl-right {
    border-right-color: #ccc;
    border-right-width: 0.1px;
    border-right-style: dotted;
}

.ctrl-bottom {
    border-bottom-color: #ccc;
    border-bottom-width: 0.1px;
    border-bottom-style: dotted;
}

#btn_asignar_serial {
    margin-top: 1px !important;
    padding: 1px 6px !important;
}

.panel.panel-info .panel-heading {
    background-color: #55acee;
}

#btn_inicio:hover {
    background-color: transparent !important;
}

#btn_inicio:hover span {
    color: #fee48c !important;
}

#btn_generar_no_contenedor:hover {
    background-color: transparent !important;
}

#btn_generar_no_contenedor:hover span {
    color: #fee48c !important;
}

#div_orden_trabajo .panel-body {
    padding: 15px 20px !important;
}   

.loader_plasticom {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 10px solid #55ACEE;
    border-radius: 50%;
    border-top: 10px solid #c11a20 /*0063b6*/;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

    .loader_plasticom.loaded {
        zoom: 1;
        filter: alpha(opacity=0);
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        visibility: hidden;
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
